:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contaner{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #333;
  width: 100%;
}
nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}
nav ul li {
  margin: 40px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.active {
  font-weight: bolder;
 
}
.input-number {
  display: inline-block;
  height: 2.1em;
    width: 100%;
  padding: 1px;

}

.input-number button {
  display: inline-block;
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  color: #fff;
  border: none;
  background: #3e98c7;
}

.input-number button:focus {
  outline: none;
}

.input-number div {
  display: inline-block;
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
}

